@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply flex p-4 justify-center items-center;
}

.blogsWrapper{
  @apply bg-gray-800 w-full p-4 rounded;
  span{
    @apply flex justify-between p-4 w-full;
    button{
      @apply bg-green-600 text-white font-black py-0 px-2 rounded;
    } 
  }
  h1:first-of-type {
    @apply text-5xl p-4 font-black;
  }
  h1:last-of-type {
    @apply text-2xl p-4 font-bold;
  }
  .blogsContainer{
    @apply w-full flex gap-4 flex-wrap bg-white p-4 justify-around rounded;

    .blogCard{
      @apply flex flex-col gap-4 bg-green-400 p-4 rounded text-black border-2;
      h3{
        @apply text-2xl font-bold;
      }
      p{
        @apply text-lg;
      }
    }
  }
}