@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    @apply bg-transparent text-white border-gray-700;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply flex p-4 justify-center items-center;
}

.blogsWrapper {
  @apply bg-gray-800 w-full p-4 rounded;
  h1 {
    @apply text-7xl p-4 font-black;
  }

  span {
    @apply flex justify-between p-4 w-full;
    h1 {
      @apply text-2xl p-4 font-bold;
    }
    button {
      @apply bg-green-600 text-white font-black py-0 px-2 rounded;
    }
  }

  .blogsContainer {
    @apply w-full grid grid-cols-3 gap-3 bg-white p-4 rounded;

    .blogCard {
      @apply relative col-span-1 flex flex-col gap-4 justify-around bg-green-400 p-4 rounded text-black border-2;
      img {
        @apply rounded border-2 bg-white p-8 w-full h-1/2;
      }
      h3 {
        @apply text-5xl font-bold;
      }
      span {
        @apply text-lg bg-blue-500 rounded text-white p-1 w-fit;
      }
      button {
        @apply bg-red-500 flex absolute bottom-3 right-3 text-white font-black p-2 rounded;
      }
    }
  }
}
